.center-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: fit-content;
}

.center-container .container {
    width: 80%;
    justify-content: space-between;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 2.5rem);
    grid-template-areas:
        "play play play add-beat"
        "play play play remove-beat"
        "mute randomize bpm bpm";
    grid-row-gap: 0.5rem;
    grid-column-gap: 0.5rem;
    margin-bottom: 1rem;
}

.center-container .container button {
    height: 100%;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-container .container .play-btn {
    grid-area: play;
}

.center-container .container .add-beat-btn {
    grid-area: add-beat;
}

.center-container .container .add-beat-btn img {
    width: 2rem;
}

.center-container .container .remove-beat-btn {
    grid-area: remove-beat;
}

.center-container .container .remove-beat-btn img {
    width: 2rem;
}

.center-container .container .mute {
    grid-area: mute;
    transition-property: background-color, border;
}

.center-container .container .mute.is-muted {
    background-color: var(--color-background);
    border: 1.5px solid var(--color-secondary);
}

.center-container .container .mute.is-muted:hover {
    border: 1.5px solid var(--color-contrast);
}

.center-container .container .randomize {
    grid-area: randomize;
}

.center-container .container .bpm {
    grid-area: bpm;
    align-self: center;
}

.center-container .container div select {
    text-align-last: center;
    text-align: center;
}

@media (min-width: 950px) {
    .center-container .container {
        width: 80%;
        
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 2.5rem);
        grid-template-areas: "play play add-beat mute bpm"
                                "play play remove-beat randomize bpm";
        grid-row-gap: 0.5rem;
        grid-column-gap: 0.5rem;
        margin-bottom: 1rem;
    }
}