.center-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-height: fit-content;
}

.center-container .controls-menu {
    width: 80%;
    justify-content: space-between;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 2.5rem);
    grid-template-areas:
        "bpm bpm bpm bpm"
        "mute play play add-beat"
        "loop play play remove-beat"
        "select choose choose randomize";
    grid-row-gap: 0.5rem;
    grid-column-gap: 0.5rem;
    margin-bottom: 1rem;
}

.center-container .controls-menu button {
    height: 100%;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.center-container .controls-menu button img {
    width: 1rem;
}

.center-container .controls-menu .play-btn {
    grid-area: play;
}

.center-container .controls-menu .add-beat-btn {
    grid-area: add-beat;
}

.center-container .controls-menu .remove-beat-btn {
    grid-area: remove-beat;
}

.center-container .controls-menu .mute {
    grid-area: mute;
    transition-property: background-color, border;
}

.center-container .controls-menu .mute.is-muted {
    background-color: var(--color-background);
    border: 1.5px solid var(--color-secondary);
}

.center-container .controls-menu .mute.is-muted:hover {
    border: 1.5px solid var(--color-contrast);
}

.center-container .controls-menu .randomize {
    grid-area: randomize;
}

.center-container .controls-menu .allow-figures img,
.center-container .controls-menu .randomize img {
    width: 1.3rem;
}

.center-container .controls-menu .loop {
    grid-area: loop;
}

.center-container .controls-menu .allow-figures {
    grid-area: select;
}

.center-container .controls-menu .choose-figure {
    grid-area: choose;
}

.center-container .controls-menu .bpm {
    grid-area: bpm;
    align-self: center;
    margin-bottom: 1rem;
}

.center-container .controls-menu div select {
    text-align-last: center;
    text-align: center;
}

@media (min-width: 950px) {
    .center-container .controls-menu {
        width: 80%;
        
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 2.5rem);
        grid-template-areas: "mute loop play play add-beat randomize"
                                "select choose play play remove-beat bpm";
        grid-row-gap: 0.5rem;
        grid-column-gap: 0.5rem;
        margin-bottom: 1rem;
    }

    .center-container .controls-menu .bpm {
        margin-bottom: 0;
    }
}