.figure-select-bar {
    width: 100%;
    height: 0;
    max-height: 20rem;
    background-color: var(--color-select-bar);
    overflow: hidden;
    transition: height 0.4s;
}

.figure-select-bar.showing {
    height: 20rem;
}

.figure-select-bar .bar-content-container {
    padding-top: 1rem;
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: none;
}

.figure-select-bar .bar-content-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.figure-select-bar .bar-content-container p {
    font-family: 'Courier Prime';
    font-weight: 400;
    font-size: 1rem;
    font-style: italic;
}

.figure-select-bar .bar-content-container .toggles-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 1rem;
}

.figure-select-bar .bar-content-container .toggles-container .select-button,
.figure-select-bar .bar-content-container .toggles-container .deselect-button {
    width: 10rem;
    background-color: transparent;
    border: 2px solid var(--color-contrast);
    border-radius: 0.5rem;
    font-size: 1rem;
}

.figure-select-bar .bar-content-container .toggles-container .select-button:hover,
.figure-select-bar .bar-content-container .toggles-container .deselect-button:hover {
    background-color: var(--color-select-bar-highlight);
}

.figure-select-bar .bar-content-container .figures-container {
    height: fit-content;
    width: 100%;
    display: grid;
    padding: 1rem 1.5rem 1rem;

    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: max-content;
    column-gap: 0.9rem;
    row-gap: 0.5rem;
}

@media (min-width: 700px){
    .figure-select-bar .bar-content-container .toggles-container {
        width: 50%;
    }

    .figure-select-bar .bar-content-container p {
        font-size: 1.4rem;
    }

    .figure-select-bar .bar-content-container .figures-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 950px){
    .figure-select-bar .bar-content-container .figures-container {
        grid-template-columns: repeat(3, 1fr);
    }
}