#rhythm-grid {
    width: 100vw;
    display: flex;
    justify-content: center;
}

#rhythm-grid .container {
    width: 100vw;

    display: grid;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.3rem;
    column-gap: 0.9rem;
    row-gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 700px){
    #rhythm-grid .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 900px){
    #rhythm-grid .container {
        grid-template-columns: repeat(5, 1fr);
    }
}