.rhythmic-figure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    border: 3px solid var(--color-contrast);
    opacity: 0.3;
    transition: opacity 0.2s;
}

.rhythmic-figure.highlighted{
    opacity: 1;
}

@keyframes beat {
    from {box-shadow: 0 0 1rem var(--color-contrast)}
    to {box-shadow: revert}
}

.rhythmic-figure.shining.highlighted {
    animation: beat 0.3s linear 1;
}