.rhythmic-figure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    border: 3px solid var(--color-contrast);
    border-radius: 1.2rem;
    opacity: 0.3;
    transition: opacity 0.2s;
}

.rhythmic-figure:hover {
    opacity: 1;
}
