:root {
    --color-background: #2F2F2F;
    --color-contrast: #FFFFFF;
    --color-secondary: #3A7D44;
    --color-tertiary: #B7245C;
    --color-quaternary: #A11692;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
#root {
    height: 100vh;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    color: var(--color-contrast);
    background: var(--color-background);
}

body,
button,
textarea {
    font-weight: 400;
    font-family: 'Noto Sans TC';
    font-size: 1.6rem;
    text-align: center;
    color: var(--color-contrast);
}

input {
    font-weight: 400;
    font-family: 'Noto Sans TC';
    font-size: 1.6rem;
    text-align: center;
    color: var(--color-background);    
}

button {
    padding: 1rem;
    border: none;
    background-color: var(--color-secondary);
}